In [3]:
import heartpy as hp
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heartrates.csv') 
df

     OBS Temperature  HeartRate
0    1.0        96.3       70.0
1    2.0        96.7       71.0
2    3.0        96.9       74.0
3    4.0          97       80.0
4    5.0        97.1       73.0
..   ...         ...        ...
190  NaN         NaN        NaN
191  NaN         NaN        NaN
192  NaN         NaN        NaN
193  NaN         NaN        NaN
194  NaN           .        NaN

[195 rows x 3 columns]

In [13]:
#datacleaning
#Checking for missing values
df.isnull().sum()
df= df.dropna()

In [19]:
df.isnull()

       OBS  Temperature  HeartRate
0    False        False      False
1    False        False      False
2    False        False      False
3    False        False      False
4    False        False      False
..     ...          ...        ...
125  False        False      False
126  False        False      False
127  False        False      False
128  False        False      False
129  False        False      False

[130 rows x 3 columns]

In [20]:
heart= hp.get_data('heartrates.csv')
fs = 100.0 #setting the peak

In [ ]:
df

In [ ]:
working_data, measures = hp.process(heart, fs, report_time=True)
print(measures['bpm']) #returns BPM value
print(measures['rmssd']) # returns RMSSD HRV measure